.hidden {
  display: $hidden;
}
.disabled {
  opacity: 0.4;
}

#welcome-wrapper {
  text-align: center;
  display: flexs;
  background-color: $main-color;
  color: $knockout-color;
  height: 100vh;

  .home_input {
    padding: 20px 0 20px 0;
    border-radius: 15px;
    margin: auto;
  }

  h5 {
    margin: 20px 0 60px 0;
    font-family: $body-font;
  }

  h3 {
    margin-top: 20px;
  }

  input {
    margin-top: 1em;
    font-size: 1em;
    width: 50vw;
    text-align: center;
    padding: 1em;
    border: thin solid $border-color;
    border-radius: $rounded;
    font-family: $body-font;
  }

  button {
    font-size: 1em;
    background-color: $main-text-color;
    color: $knockout-color;
    width: 200px;
    padding: 0.8em 1.2em;
    border: thin solid $border-color;
    border-radius: $rounded;
    margin: 1em 0.5em;
  }
}
