$main-color: rgb(43, 101, 226);
$main-text-color: rgb(25, 9, 174);
$knockout-color: white;
$border-color: rgb(156, 154, 154);
$dis-color: rgba(120, 209, 4, 0.863);

$rounded: 0.5em;
$hidden: none;

$message-bg: rgb(119, 210, 233);

$main-title: "Public Sans", sans-serif;
$body-font: "Montserrat", sans-serif;
$second-title: "Libre Baskerville", serif;
